// app global css in SCSS form
body {
    background-image: url('/bg.png');
}
.background{
   background: rgba(255, 255, 255, 0.55);
backdrop-filter: blur(10px);
/* Note: backdrop-filter has minimal browser support */
margin: 1%;
border-radius: 20px;
}
.text-size-1{
    font-size: 16px;
}
.q-drawer{
    background-color: transparent !important;
  }
  .border-8px{
      border-radius:20px;
  }
.input{
  background: #FFFFFF;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  padding: 5px;

}
.text-grey1{
  color:$grey1;
  & .q-icon{
    color:$grey2;
  }
}
.text-blue1{
  color:$blue1;
  & .q-icon{
    color:$blue1;
  }
}
